<div class="jumbotron text-center bg-white">
  <h1 class="display-4">hello</h1>
  <p class="lead">welcome to obli!</p>
  <p>obli helps you keep track of your recurring payments</p>
  <hr class="my-4">
  <p>start using obli today!</p>
  <p>click on the sign up button below to get started</p>
  <p class="lead p-1">
    <%= render 'layouts/button', title: 'Sign up', path: new_user_registration_path %>
  </p>
</div>
