<%= form_with model: [ @obligation, Payment.new ] do |form| %>
  <p>
    <%= form.label :amount %>
    <%= form.number_field :amount, min: 0, step: 0.01 %>
  </p>
  <p><%= form.submit %></p>
<% end %>
