<%= link_to obligation_payment_path(@obligation, payment), class: "list-group-item list-group-item-action" do %>
  <h4 class="text-center"><%= payment.created_at.strftime('%Y-%m-%d') %></h4>
<% end %>
