<p><strong>Amount: </strong><%= payment.amount %></p>
<p><strong>Created At: </strong><%= payment.created_at.strftime('%Y-%m-%d') if payment.created_at %></p>
<p><%= link_to 'Delete', obligation_payment_path(@obligation, payment), method: :delete %></p>
