<%= render 'layouts/content_header', title: @title, sub_title: @sub_title, links: @links %>
<%= will_paginate @payments,
  renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
  list_classes: %w(pagination justify-content-end),
  page_links: false,
  previous_label: '<',
  next_label: '>'
%>
<div class="list-group list-group-flush">
  <%= render @payments %>
</div>
