<%= render partial: 'layouts/content_header', locals: { title: @title, links: @links } %>
<%= will_paginate @payments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end) %>
<div class="list-group">
  <%= render @payments %>
</div>
