<%= render partial: "layouts/content_header", locals: { title: @title, sub_title: @sub_title, links: @links } %>
<% @items.each do |item| %>
  <div class="py-2 pl-1"><%= render partial: 'layouts/simple_item', locals: { item: item } %></div>
<% end %>
