@import "bootstrap";

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

label {
  margin: 0;
}

.btn-link {
  padding-left: 0;
}

.list-group-item:first-child {
  border-top: 0;
}

#flash {
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 100%;
  z-index: 99;
}

#main-container {
  margin-top: 56px;
  min-height: 150vh;
}

#main-navigation {
  background-color: rgba(255, 255, 255, 0.8);
}
