<div id="main-navigation" class="navbar navbar-light fixed-top border-bottom" role="navigation">
  <%= link_to 'obli', root_path, { class: 'navbar-brand' } %>
  <% unless user_signed_in? %>
    <%= link_to '[sign in]', new_user_session_path %>
  <% else %>
    <%= link_to '[sign out]', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
